{% extends '::base.html.twig' %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1>Mobilis</h1>
    <p>We build and sell you the best stuff you ever wanted.</p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
  </div>

</div>

{% endblock %}